/*============================================================================
  Social Icon Buttons
  Author:
  Alan Sierra barbosa
==============================================================================*/
[class^="icon-"], [class*=" icon-"] {font-family: 'icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon-fancy:before{content: "\46";}
.icon-twitter:before{content: "\54";}
.icon-facebook:before{content: "\66";}
.icon-google:before{content: "\67";}
.icon-pinterest:before{content: "\70";}
/*================ Social share buttons ================*/
.social-sharing{height: 22px;  margin-top: 0; display: inline-block;}
.social-sharing *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.social-sharing a{float: right; display: inline-block; color: #fff; border-radius: 5px; margin: 0 10px 10px 0; height: 22px; line-height: 22px; text-decoration: none; font-weight: normal;}
.social-sharing a:hover{color: #fff;}
.social-sharing span{display: inline-block; vertical-align: top; font: 12px/22px "Open Sans";border-radius: 5px;position: relative;left: -2px;}
.social-sharing .icon{padding: 0 5px 0 10px;}
.social-sharing .icon:before{line-height: 22px;}
.social-sharing.is-large a{height: 44px; line-height: 44px;}
.social-sharing.is-large a span{height: 44px; line-height: 44px; font-size: 18px;}
.social-sharing.is-large a .icon{padding: 0 10px 0 18px;}
.social-sharing.is-large a .icon:before{line-height: 44px;}
.share-title{font-weight: 800; font-size: 12px;}
.is-large .share-title{padding-right: 16px;}
.share-facebook{background-color: #39589b;}
.share-twitter{background-color: #00aced;}
.share-twitter:hover{background-color: #0087ba;}
.share-pinterest{background-color: #cb2027;}
.share-pinterest:hover{background-color: #9f191f;}
.share-fancy{background-color: #4999dc;}
.share-fancy:hover{background-color: #2780cb;}
.share-google{background-color: #dd4b39;}
.share-google:hover{background-color: #c23321;}
.share-count{position: relative; padding: 0 8px; margin-right: -2px; font-size: 14px; line-height: 20px; color: #fff; border-radius: 0 2px 2px 0; opacity: 0; -webkit-transition: opacity 0.2s ease-in; -moz-transition: opacity 0.2s ease-in; -o-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in;}
.share-count.is-loaded{opacity: 1;}
.share-count:before, .share-count:after {content: ''; display: block; position: absolute; top: 50%; margin-top: -6px; width: 0; height: 0; }
.share-count:before{left: -6px; border-right-color: #ececec;}
.share-count:after{left: -5px; border-right-color: white;}


.is-large .share-count{font-size: 18px; padding: 0 14px;}
/*================ Clean Buttons ================*/
.social-sharing.is-clean a{background-color: #fff; border: 1px solid #ececec; color: #333; height: 30px; line-height: 30px;}
.social-sharing.is-clean a span{height: 30px; line-height: 30px; font-size: 13px;}
.social-sharing.is-clean a .share-title{font-weight: normal;}
.social-sharing.is-clean .share-count{top: -1px;}
.icon-facebook {
	/*background: url('http://www.elheraldo.co/sites/default/themes/eh/images/facebook1.png') no-repeat -1px center / 11px auto transparent;*/
  background: url('http://www.elheraldo.co/sites/default/themes/eh/images/facebookcolor.png') no-repeat -1px center / 50px auto transparent; width: 49px; font-size: 0px !important; height: 56px;
  width: 49px;
  font-size: 0px !important;
  background-size: 50px;
  height: 56px;
  position: relative;
  top: -17px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.icon-facebook{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  border-radius: 50%;
  background-size: 50px;
  opacity: 1;
}
.icon-twitter {
  /*background: url('http://www.elheraldo.co/sites/default/themes/eh/images/twitter3.png') no-repeat -1px center / 11px auto transparent; width: 49px; font-size: 0px !important; height: 56px;*/
  position: relative;
  top: -17px;
  background-size: 50px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.icon-twitter{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  border-radius: 50%;
  background-size: 50px;
  background: url('http://www.elheraldo.co/sites/default/themes/eh/images/twittercolor.png') no-repeat -1px center / 50px auto transparent; width: 49px; font-size: 0px !important; height: 56px;
}
.icon-google {background: url('http://www.elheraldo.co/sites/default/themes/eh/images/google+3.png') no-repeat -1px center / 11px auto transparent; width: 49px; font-size: 0px !important; height: 56px;
  position: relative;
  top: -17px;
  background-size: 50px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.icon-google:hover{
  background-size: 50px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
  border-radius: 50%;
  background: url('http://www.elheraldo.co/sites/default/themes/eh/images/google+color.png') no-repeat -1px center / 50px auto transparent; width: 49px; font-size: 0px !important; height: 56px;
}
