iframe{
	max-width: 100%;
}
/*Home*/
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(2) > *, .view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3) > *{
		float: none;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(2) .precio, .view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3) .precio{
		margin: 0 auto;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3){
		float: none;
	}
	body.front section h3{
		text-align: center;
		line-height: 45px;
	}
	/*Especial vendedor*/
	body.node-type-vendedor h2, body.node-type-vendedor h1.title{
		display: block !important;
		text-align: center;
		padding: 10px 10px;
	    background: #6CC6D9;
	    font-weight: bold;
	    font-size: 30px;
	    text-decoration: none;
	    display: inline-block;
	    font-family: "BebasNeue-regular";
	}
	body.node-type-vendedor .header_nvendedor h1{
		display: none;
	}
	body.node-type-vendedor #especial_vendedor .fondo{
		width: 100%;
	}
	body.node-type-vendedor #especial_vendedor .titulo{
		right: 0;
		text-align: center;
	}
	body.node-type-vendedor #especial_vendedor .titulo h2{
		line-height: 40px;
		font-size: 40px;
	}
	body.node-type-vendedor #especial_vendedor .titulo span{
		margin-top: 0;
	}
	body.node-type-vendedor #especial_vendedor .views-row{
		display: none;
	}
	body.node-type-vendedor .noticias_destacadas{
		display: none;
	}
	body.node-type-vendedor .header_nvendedor{
		margin: 20px 0px 0;
	}
	section h3{
		margin-bottom: 20px;
		padding: 30px;
	}
	.banderines{
		width: 100%;
		height: 70px;
	}
	html body header{
		width: 100%;
		height: 60px;
	}
	html body .container{padding-top: 60px;}
	.view-id-frontpage.view-display-id-block_13, .bloque-info-sup{
		display: none;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3){
		margin: auto;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(2), .view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3){
		width: auto;
	}
	.view-id-frontpage.view-display-id-block_14{
		width: auto;
		margin: 0 0 20px;
		display: block;
	}
	.view-id-frontpage.view-display-id-block_14 .view-content{
		margin: 0 auto;
		display: block;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(2) h2, .view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3) h2{
		width: 145px;
		margin: 0 auto;
		display: block;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(2) .precio, .view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3) .precio{
		margin: 0 auto;
		width: 150px;
		text-align: center;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list{
		display: block;
    	margin: 0 auto;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(1){
		margin-top: 20px;
	}
	.div-twitter-timeline{
		margin: 20px auto 0;
    	display: block;
	}
	.view-id-frontpage.view-display-id-block_14 .item-list:nth-child(2), .view-id-frontpage.view-display-id-block_14 .item-list:nth-child(3){
		margin-top: 20px;
	}
	.view-id-frontpage.view-display-id-block_15 .item-producto {
	    margin: 20px auto 0;
	    width: auto;
	}
	.view-id-nodequeue_6.view-display-id-block{
		margin: 0;
	}
	.view-id-nodequeue_6.view-display-id-block .item-producto{
		display: inline-block;
    	width: 185px;
	}
	#esp-awuarella .subtitulo{
		margin: 0px auto;
	    line-height: 40px;
	    display: block;
	    text-align: center;
	}
	section#esp-awuarella iframe{
		margin-top: 0;
	}
	.view-id-frontpage.view-display-id-block_14 .view-header{
		margin: 0 0 20px;
	}
  	#apertura-video{
  		width: 100%;
  	}
  	#apertura-video .imagenes{
  		width: 100%;
  		margin-top: 0;
  	}
  	.icon-star{
		margin: 15px 0 0 -46px;
  	}
	/*aquarella*/
		section#esp-awuarella{
			height: auto !important;
			margin-bottom: 0;
		}
		section#esp-awuarella .content{
	      width: 100% !important;
	    }
	    section#esp-awuarella{background: none !important;}
		.columnas.columna-node-producto{
			margin: 0 20px;
			display: block;
			width: auto;
		}
		section#esp-awuarella iframe{
			height: 222px !important;
		}
		.view-id-nodequeue_6.view-display-id-block{
			float: none;
			width: auto !important;
		}
	/**/
	.header{    background-size: cover;
    background-position: center;}
	body{
		overflow-x: hidden;
		width: 100%;
	}
	.bloque-info-sup,
	html body .container .title-columna,
	.view-id-frontpage.view-display-id-block_2{width: auto; text-align: center;}
	#apertura-video iframe{max-height: 230px;}
	figure.content_logo{margin: 7px auto 0; float: none;}
	html body .container,
	#apertura-video,
	#apertura-video iframe,
	.view-frontpage.view-display-id-block_10,
	.bloqueLoUltimo,
	.view-frontpage.view-display-id-block_11 img,
	.view-frontpage.view-display-id-block_11,
	.bloqueVideo{
		width: 100%;
	}
	.bloque-info-sup a,
	.view-frontpage.view-display-id-block_10{margin: 0;}
	/*Display none*/
	.view-frontpage.view-display-id-block_12,
	html body header ul,
	#ultimos-productos-noticias,
	#galeria-apertura-home,
	#no-tines-cuenta,
	.AnuncioGoogle.Anu728x90,
	.list-cosplayer,
	.view-id-nodequeue_3.view-display-id-block .views-field-nothing,
	.AnuncioGoogle.Anu336x280
	{display: none;}
	/*.view-id-nodequeue_3.view-display-id-block,*/
	.view-nodequeue-3.view-display-id-block ul,
	html body .container section.col-izq,
	html body .container section.col-der,
	.anuncio img{
		margin: 0 auto;
		width: 100%;
		float: none;
		display: block;
		padding: 0;
	}
	.view-frontpage.view-display-id-block_10{
		margin-top: 20px;
	}
	.view-frontpage.view-display-id-block_10 .views-field-title a{
		width: 200px;
	}
	.view-frontpage.view-display-id-block_11{
		margin: 20px 0 0 0;
	}
	.view-frontpage.view-display-id-block_10 .views-row{
		overflow: hidden;
		margin: 0 0 10px;
	}
	.view-frontpage.view-display-id-block_10 .views-row .views-field-field-imagenes a img{
		float: right;
	}
	.view-id-nodequeue_1.view-display-id-block img{
		width: 100%; height: auto;
	}
	.item-producto{
		width: auto;
    	margin: 20px auto;
    	display: block;
	}
	.view-frontpage.view-display-id-block_9 .item-producto{
    	margin: 20px auto;
	}
	html body .container section.col-izq .views-field-title a{
		width: 95%;
		padding: 0 10px;
	}
	.view-id-nodequeue_3.view-display-id-block .views-row{
	    width: 90%;
	    margin: 20px auto 0!important;
	    display: block;
	    border: 0 !important;
	    padding: 0 !important;
	    clear: both;
	    overflow: hidden;
		height: auto;
	}
	.view-id-nodequeue_3.view-display-id-block{
		margin-bottom: 20px;
	}
	.view-id-nodequeue_3.view-display-id-block .views-field-path a{
		float: left;
		position: relative;
	}
	.bloqueVideo iframe{
    	width: 90%;
	    margin: 20px auto 0;
	    display: block;	
	}
	#capaTv{
		display: none;
	}
	.AnuncioGoogle{
		width: auto;
		border: 0;
	}
	.anuncio img{width: 100%; height: auto;}
	.bloqueVideo h2{position: relative; width: 90%; margin: 20px auto 0;}
	.Anu320x100{display: block; text-align: center; margin-bottom: 20px; }
	.view-frontpage.view-display-id-block_9 .view-header p{    margin-left: 0;
    margin: 0 auto 20px;
    text-align: center;}
/*Fin Home*/

/*Article*/
	body.page-node-355 table td:nth-child(1){
		max-width: 80px;
	    margin-right: 15px;
	    display: block;
	}
	#header .watsapp{
		position: absolute;
		left: 0px;
		top: 30px;
	}
	body.node-type-article table{
		width: auto !important;
	}
	html body.node-type-productos .container section.col-der{
		margin: 0px 15px 0;
	}
	.autor_inf .view-node-productos.view-display-id-block_4{
		margin: -95px 20px 0px 0;
		width: 100px;
	}
	.columnas.columna-node-producto{
		margin: 0 20px;
		display: block;
		width: auto;
	}

	html body .container .columna-node-article section.col-izq, .popup-detalle-contacto .views-field-field-foto{
		display: none;
	}
	html body .container section.col-izq{
		width: auto !important;
	}
	html body .container .columna-node-article section.col-der{width: auto; padding-bottom: 110px;}
	.field-name-body{width: 90%; margin: 0 auto !important;}
	.field-name-body img{width: 100% !important; height: auto !important;}
	.Anu320x100.AnuArticulo{
		position: fixed;
		bottom: 0;
		display: block;
		margin: 0 auto;
	    z-index: 100;
	    bottom: 0px;
	    height: 100px;
	    vertical-align: bottom;
        right: 0;
    	left: 0;
	}
	h1.title{
		width: auto;
    	margin: 15px 20px;
    	text-align: center;
	}
	.columna-node-producto .field-name-body{
		text-align: center;
		margin: 0 auto 20px auto !important;
	}
	.columna-node-producto .espacio-accion{
    margin: 0px 0 0 20px !important;
	}
	html body .container section.col-der{
		width: auto !important;
	}
	html body .container section.col-der .redes{
		margin: 0 20px;
	}
	html body .container section.col-der .items-fotos img{
		width: 100%;
		height: auto;
	}
	.columna-node-producto .foto-vendedor{
		    height: auto;
    margin-bottom: 20px;	
	}
	.popup.popup-detalle-contacto{
    width: auto;
    margin: 0 20px;
	}
	.popup-detalle-contacto span{
		display: block;
	}
	.popup-detalle-contacto .views-field-field-telefono a{
		display: block;
	}
	.popup.popup-detalle-contacto:after{
		    width: auto !important;
	margin: 0 7px !important;
	}
/*Fin articulo*/

/*Generales*/
	.movil{display: block;}
	.desktop{display: none !important;}
/*Generales*/
