header{
	background-color: #7f8893;
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;
    top: 0;
    height: 44px;
    img{
	    width: 200px;
	    margin: 0px auto 0;
	    display: block;
    }
}
body.page-node{
	.mdl-card{widows: 90%;}
	#skip-link{display:none;}
	.demo-card-wide > .mdl-card__title {
		color: #fff;
		height: 176px;
	}
	.demo-card-wide > .mdl-card__menu {
		color: #fff;
	}
	h2 a{
		color: #fff;
		font-size: 20px;
		text-decoration: none;
	}
}